@page "/power"
@rendermode InteractiveServer //без этой строки биндинг и события не отрабатываются

<h3>Power</h3>

<label for="base">Основание степени:</label>
<input type="number" name="base" @bind="number" @onclick="Calculate"/>

<label for="base">Показатель степени:</label>
<input type="number" name="exponent" @bind="exponent" @onclick="Calculate"/>

<label for="base">Степень:</label>
<span name="power">@power</span>


